################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GrpcGreeter/FileContentIndex/7fca984a-f287-4745-94f4-3740f3282a9c.vsidx
/.vs/GrpcGreeter/FileContentIndex/999f34fa-84ac-4fa4-81a2-4fef45f64ffc.vsidx
